body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #012b42;
}

h2 {
	margin-top: 10px;
	color: white;
}

.teams-wrapper {
	display: flex;
	justify-content: space-evenly;
}

.team-container {
	width: 30%;
	min-width: 500px;
	padding: 20px 4px 20px 10px;
	border: 12px solid #4788a4;
	border-radius: 8px;
	margin: 20px 10px 20px 10px;
	background-color: rgba(35, 30, 23, 0.405);
	/* Space up */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.container {
	width: 30%;
	min-width: 500px;
	padding: 20px 4px 20px 10px;
	border: 12px solid #4788a4;
	border-radius: 8px;
	margin: 20px 10px 20px 10px;
	background-color: rgba(19, 40, 64, 0.63);
	color: white;
	/* Space up */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.character-card {
	margin-bottom: 10px;
	padding: 5px;
	border: 3px solid #4788a4;
	border-radius: 5px;
}

button {
	font-size: 16px;
	padding: 10px;
	margin: 20px;
	cursor: pointer;
}

.character-card {
	background-color: #9bcad4;
	color: #2f6683;
	padding-right: 25px;
	width: 320px;
	/* Your regular styling goes here */
}

.character-card.dead {
	background-color: rgb(92, 26, 26);
	color: rgb(219, 219, 219);
}

.character-container {
	display: flex;
	min-height: 250px;
}

.icon {
	max-width: 150px;
	max-height: 86px;
	/* Add any additional styling for the image as needed */
}

.attack-log {
	background-color: #d5d6d5;
	border-top: 25px solid #4788a4;
}
